<!DOCTYPE html>
<head></head>
<body>
  <h3>認証</h3>
  <form method="post" action="/login">
    <p>名前<br>
    <input type="text" name="name"></p>
    <p>パスワード<br>
    <input type="password" maxlength="8" name="passwd"></p><br>
    <input type="submit" value="ログイン">
  </form><br>
  <%= Time.now %>
</body>
</html>
