<!DOCTYPE html>
<head></head>
<body>
  <h3>メモ一覧</h3><br>
  <% @memos.each do |memo| %>
    <% path = "/detail/#{memo['id']}" %>
    <a href=<%= path %>><%= memo['subject'] %><br>
  <% end %>
</body>
</html>